<div class="w-100">
    <nav class="navbar bg-black">
        <div class="container-fluid">
          <a class="navbar-brand text-white ">TASK MANAGER</a>
        </div>
      </nav>

          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">ADD YOUR TASK</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body shadow ">
                    <form (ngSubmit)="onSubmit()" #todoForm="ngForm">
                        <div>
                          <label for="title">Title:</label>
                          <input type="text" id="title" class="form-control " name="title" required [(ngModel)]="todo.title" #title="ngModel">
                          <div *ngIf="title.invalid && (title.touched)" class="error">
                            Title is required.
                          </div>
                        </div>
                        <div>
                          <label for="task">Task:</label>
                          <input id="task" name="task" class="form-control " required [(ngModel)]="todo.task" #task="ngModel">
                          <div *ngIf="task.invalid && (task.touched)" class="error">
                            Task is required.
                          </div>
                        </div>
                        <button type="submit" [disabled]="todoForm.invalid" class="btn btn-success mt-2">Add Todo</button>
                      </form>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100 ms-4">
            <button class="btn btn-success mt-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">ADD +</button>
          </div>
          <h4 class="text-center mt-5">My Tasks</h4>
          <div class="row">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Task Edit</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" *ngFor="let item of editedTodo">
                        <form (ngSubmit)="onSubmit()" #todoForm="ngForm" >
                            <div>
                                <label for="title">Title:</label>
                                <input type="text" id="title" class="form-control" name="title" required [(ngModel)]="item.title" #title="ngModel" [placeholder]="item.title">
                                <div *ngIf="title.invalid && (title.touched)" class="error">
                                    Title is required.
                                </div>
                            </div>
                            <div>
                                <label for="task">Task:</label>
                                <input id="task" name="task" class="form-control" required [(ngModel)]="todo.task" #task="ngModel" [placeholder]="item.task">
                                <div *ngIf="task.invalid && (task.touched)" class="error">
                                    Task is required.
                                </div>
                            </div>
                            <button type="submit" [disabled]="todoForm.invalid" class="btn btn-success">Add Todo</button>
                        </form>
                        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" (click)="edit()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
                <div  class="d-flex  justify-content-between align-items-center m-4 col-lg-3" *ngFor="let item of Alldata">
                    <div  class="card shadow" style="width: 18rem;">
                        <div class="ms-auto "><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openEditModal(item)"><i class="fa-solid fa-pen"></i></button></div>
                        <div class="card-body">
                          <h5 class="card-title">{{item.title}}</h5>
                          <p class="card-text">{{item.task}}</p>
                        </div>
                        <button class="btn btn-danger " (click)="delete(item.id)">Delete<i class="fa-solid fa-trash ms-2"></i></button>
                      </div>
                
              </div>
          </div>
     
</div>